<html>
<head>
    <title>Sinatra Bootstrap</title>
    <link rel="stylesheet" href="c/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript' src='j/modernizr-2.6.2.js'></script>
    <script type='text/javascript' src='j/app.js'></script>
</head>
<body>
    <div class='container'>
        <header>
        </header>

        <section class='content'>
            <%= yield %>
        </section>

        <footer>
        </footer>

    </div>
</body>
</html>